.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(/matrix_rain.gif);
    background-size: cover;
}

.mainDiv {
    background-color: black;
    color: white;
    width: 1000px;

}

.ninjaDiv {
    display: none;
}

.italic {
    font-style: italic;
}

.makeBold {
    font-weight: bolder;
}

.spanToReplace {
    font-family: 'Courier New', Courier, monospace;
}

/*make the span a diff font!!!! like a monospace font*/